{% extends 'base.html' %}

{% block content %}

    <div class="card-body-ok">
        <h2 class="card-title-ok text-center">Solicitud de Turno realizada con Éxito</h2>
        <p>(Detalle de turno)</p>
        <div class="botones">
            <a download="" href="" class="btn btn-dark">Descargar comprobante</a>
            <a href="/new_turn" class="btn btn-dark">Solicitar otro turno</a>   
            <a href="/welcome" class="btn btn-dark">Volver al Inicio</a>
        </div>
    </div>

{% endblock %}